<tr>
  <td id="<%= _id %>">
    <input type="checkbox" id="blankCheckbox" value="option1" aria-label="..."></td>
  <td>
    <a href="#/post/<%= slug %>"><%= title %></a>
  </td>
  <td>
    <small><%= dateFormat %></small>
  </td>
  <td>
    <div class="btn-group pull-right" role="group" aria-label="Basic example">
    <a href="#/post/<%= slug %>" class="btn btn-default show"> <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
      </a>
      <a href="#/post/edit/<%= _id %>" class="btn btn-default edit"> <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
      </a>
      <a class="btn btn-danger destroy"> <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
      </a>
    </div>
  </td>
</tr>